.subscriptions-view {
  display: flex;
  flex-direction: column;
  max-height: 100%; }
  .subscriptions-view .remove-message {
    white-space: nowrap;
    height: 26px;
    line-height: 26px;
    box-sizing: content-box;
    padding: 0 1em;
    background: #ffd7d7;
    color: #8a2b2b;
    vertical-align: middle; }
    .subscriptions-view .remove-message button {
      border: none;
      height: 26px;
      font: inherit;
      outline: none;
      cursor: pointer; }
  .subscriptions-view .do-remove {
    background: #ffa5a5;
    color: #581e1e; }
    .subscriptions-view .do-remove:hover {
      background: #e68686;
      color: #581e1e; }
  .subscriptions-view .cancel-remove {
    background: inherit;
    color: inherit;
    float: right; }
    .subscriptions-view .cancel-remove:hover {
      background: #ffa5a5;
      color: #581e1e; }
  .subscriptions-view [name='select-entities'] {
    background: #e5e5e5; }

.subscriptions-list td:nth-child(1) {
  padding-left: .7em;
  padding-right: .7em;
  background: #f1f1f1;
  width: 0%;
  text-align: right;
  color: #9e9e9e;
  font-size: 10px;
  vertical-align: sub; }

.subscriptions-list td:nth-child(2) {
  padding-left: .5em;
  width: 20%; }

.subscriptions-list td:nth-child(3) {
  width: 20%; }

.subscriptions-list td:nth-child(4) {
  width: 20%; }

.subscriptions-list td:nth-child(5) {
  width: 40%; }

.subscriptions-list td:last-child {
  padding-right: 1em; }

.subscriptions-list td {
  padding-top: .5em;
  padding-bottom: .5em; }

.subscriptions-list ul {
  margin: 0;
  padding-left: 1.5em; }

.subscriptions-list h4 {
  margin: 0;
  font-size: 16px; }

.subscriptions-list hr {
  border: none;
  border-top: 1px solid #dadada;
  width: 80%;
  margin: 8px 0 4px 0; }

.subscriptions-list .entity:hover {
  text-decoration: underline;
  cursor: pointer; }

.subscriptions-list [data-status='active'],
.subscriptions-list [data-status='inactive'] {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 2px; }

.subscriptions-list [data-status='active'] {
  background: #ddffd7;
  color: #2b8a45;
  border-color: #2b8a45; }

.subscriptions-list [data-status='inactive'] {
  color: #6d6d6d;
  background: #dadada; }

.subscription .notif-cygnus,
.subscription .notif-http {
  cursor: pointer; }
  .subscription .notif-cygnus:before,
  .subscription .notif-http:before {
    content: 'radio_button_unchecked';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    vertical-align: bottom;
    height: 20px;
    display: inline-block;
    margin-right: .5em; }
  .subscription .notif-cygnus[checked]:before,
  .subscription .notif-http[checked]:before {
    content: 'radio_button_checked'; }

.subscription .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;
  border: 10px solid #dbdbdb;
  overflow: auto; }

.subscription .overlay-message {
  white-space: nowrap;
  height: 26px;
  line-height: 26px;
  box-sizing: content-box;
  padding: 0 1em;
  background: #dbdbdb;
  vertical-align: middle; }
  .subscription .overlay-message button {
    border: none;
    height: 26px;
    font: inherit;
    outline: none;
    cursor: pointer; }

.subscription [name='do-select'] {
  background: #d9e3e8;
  color: #333; }
  .subscription [name='do-select']:hover {
    background: #9eb3be;
    color: #222; }

.subscription [name='cancel'] {
  background: inherit;
  color: inherit;
  float: right; }
  .subscription [name='cancel']:hover {
    background: #d9e3e8;
    color: #333; }

.subscription select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.subscription option:selected {
  background: #d9e3e8;
  color: #333; }

/*# sourceMappingURL=subscriptions.css.map */